@page "/"
@using Microsoft.EntityFrameworkCore
@using h5_blazor_web_app.Codes
@using h5_blazor_web_app.DTO
@using h5_blazor_web_app.Models
@using Microsoft.AspNetCore.Components
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AsyncEncryptionHandler asyncEncryption
@inject TodoDbContext DbContext;
@rendermode InteractiveServer

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]


<PageTitle>Home</PageTitle>

<h4>Logged in as: @m_userName</h4>
<br />
@if (m_cprValidated)
{
    <div>
        <label>Item</label>
        <input class="form-control" type="text" @bind="m_item"/>
        <button class="btn-primary" @onclick="SubmitItem">Add item</button>
    </div>
    <p>Data from Database:</p>
    <ul>
        @foreach (var item in m_todoLists)
        {
            <li>@asyncEncryption.Decrypt(@item.Item)</li>
        }
    </ul>
}
else
{
    <div>
        <label>CPR Nummer</label>
        <input class="form-control" type="text" pattern="([0-9]{10})" @bind="m_cprNr" />
        <button class="btn-primary" @onclick="SubmitCpr">Indsæt CPR Nummer</button>
        <p class="text-danger">@m_errorMessage</p>
    </div>
}

@code {
    private string? m_cprNr { get; set; }
    private string? m_item { get; set; }
    private string m_userName { get; set; } = null!;
    private bool m_cprValidated { get; set; } = false;
    private string? m_errorMessage { get; set; }

    private List<TodoList> m_todoLists { get; set; } = new List<TodoList>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            m_userName = user.Identity.Name!;
        }
    }

    public async void SubmitCpr()
    {
        if (String.IsNullOrEmpty(m_cprNr))
        {
            m_errorMessage = "CPR Nummer er påkrævet";
            return;
        }

        string cprHash = HashingHandler.GetBCryptHash(m_cprNr);

        if(await IsUserAssigned() == false)
        {
            await InsertCprNr(cprHash);
        }

        m_cprValidated = await IsCprValid(cprHash);

        if (m_cprValidated)
        {
            m_todoLists = await GetTodoLists();
        }
        else
        {
            m_errorMessage = "CPR Nummer er ikke gyldigt";
        }
    }

    public void SubmitItem()
    {
        if (String.IsNullOrEmpty(m_item))
        {
            return;
        }

        InsertTodoItem(asyncEncryption.Encrypt(m_item!, Helpers.Helpers.ReturnType._byteArray));
    }

    private async Task<List<TodoList>> GetTodoLists()
    {
        // List<TodoList> todoLists = await DbContext.TodoLists.Where(c => c.User == m_userName).ToListAsync();
        // List<TodoListDTO> decryptedList = todoLists.Select(x => new TodoListDTO(){User = x.User, Item = asyncEncryption.Decrypt(x.Item)}).ToList();
        // return decryptedList;
        return await DbContext.TodoLists.Where(c => c.User == m_userName).ToListAsync();
    }

    private async Task InsertCprNr(string cprHash)
    {
        var cpr = new Cpr
        {
            User = m_userName!,
            CprNr = cprHash
        };

        DbContext.Cprs.Add(cpr);
        await DbContext.SaveChangesAsync();
    }

    private async void InsertTodoItem(byte[] encryptedItemBytes)
    {
        var todoItem = new TodoList
        {
            User = m_userName!,
            Item = encryptedItemBytes
        };

        DbContext.TodoLists.Add(todoItem);

        m_todoLists.Add(todoItem);
        m_item = "";

        await DbContext.SaveChangesAsync();
    }

    private async Task<bool> IsUserAssigned()
    {
        var cpr = await DbContext.Cprs.FirstOrDefaultAsync(c => c.User == m_userName);
        if (cpr != null)
        {
            return true;
        }

        return false;
    }

    private async Task<bool> IsCprValid(string cprHash)
    {
        var cpr = await DbContext.Cprs.FirstOrDefaultAsync(c => c.User == m_userName && c.CprNr == cprHash);
        if (cpr != null)
        {
            return true;
        }

        return false;
    }
}